In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import datetime
import io

# Function to remove duplicate rows from File
removeDuplicate() function will take dataframe and dummy_code(emp_id) as parameters and remove the duplicate rows using columns 'Nature of Education' and 'Sub Classification Of Education'

In [23]:
def removeDuplicates(df,dummy):
    per_df=pd.DataFrame()
    
    for d in dummy:
        temp_df=df[df['Dummy code']==d]
        temp_df=temp_df.drop_duplicates(['Nature of Education','Sub Classification Of Education'])
        
        per_df=per_df.append(temp_df, ignore_index=True)

    return per_df

In [24]:
#Reading Data from excel file
data=pd.read_csv("E:/HR Project/Data/allMerged.csv")

print("Data has {} rows and {} columns".format(*data.shape))

Data has 43379 rows and 52 columns

In [25]:
#List of all unique Dummy code
dummy=list(data['Dummy code'].unique())

# Let's remove all duplicates from file

In [26]:
data=removeDuplicates(data,dummy)

In [27]:
print("Data has {} rows and {} columns".format(*data.shape))

Data has 29612 rows and 52 columns

# Let's remove unwanted columns from data

In [28]:
data=data.drop(['Score Type','Max Score','Max Score__1','Achieved Score (% or CGPA)'],1)

In [29]:
print("Data has {} rows and {} columns".format(*data.shape))

Data has 29612 rows and 48 columns

# Convert DOB into Age

In [34]:
data['Date of Birth']=pd.DatetimeIndex(data['Date of Birth']).year
y2=datetime.datetime.now().year
print(y2)

2017

In [38]:
data['Age']=data['Date of Birth'].apply(lambda x: y2-x)

In [40]:
data=data.drop(['Date of Birth'],1)

# Convert Education To Date into Completed Year

In [41]:
data['Education To Date']=pd.DatetimeIndex(data['Education To Date']).year

In [44]:
data=data.rename(index=str, columns={'Education To Date':'Completed Year'})

In [47]:
data=data.drop(['Education From Date'],1)

In [48]:
data.to_csv("E:/HR Project/Data/Data.csv",index=False)